#backButtonFromService, #createButton, #deleteButton, #editButton, #saveButton, #backButtonFromEditVehicle {
    -fx-text-fill: white;
    -fx-cursor: hand;
}

#backButtonFromService:hover, #createButton:hover, #deleteButton:hover, #editButton:hover, #saveButton:hover,
#backButtonFromEditService:hover {
    -fx-text-fill: rgb(66, 133, 244);
}


#serviceList {
    -fx-font-size: 16;
    -fx-cursor: hand;
    -fx-font-family: "Century Gothic";
}

#serviceRecordClient, #clientVehicles, #datePicker {
    -fx-font-family: "Century Gothic";
    -fx-font-size: 20;
}

#serviceDescArea {
    -fx-wrap-text: true;
}