#backButton, #buyButton {
    -fx-text-fill: white;
    -fx-cursor: hand;
}

#backButton:hover, #buyButton:hover {
    -fx-text-fill: rgb(66, 133, 244);
}

#orderList {
    -fx-font-size: 15;
    -fx-cursor: hand;
}